.portfolio {
  padding: 0px 10px;
}
.container {
}
.porfolio__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.card__img {
  border-radius: 30px;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.9;
  }
}
.project__title a {
  color: #000;

  text-decoration: underline;
}
.project__title {
  text-align: center;
  transition: all 0.2s ease-in;
  font-size: 20px;
  @media only screen and (max-width: 426px) {
    font-size: 14px;
  }
  &:hover {
    transform: scale(1.1);
  }
}
